/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

body {
    background-image: url("/web_static/images/WOBJJ-Background.jpg"); /* The image used */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    /* background-color: #cccccc; */
    height: 1280px; /* You must set a specified height */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.box {
   display: flex;

   /* Horizontal and Vertical centering */
   justify-content: center;
   align-items: center;
   border: 5px;
   border-radius: 3px;
   font-size: 2em;
   font-family: sans-serif;
   font-weight: bold;
}

.header {

}

.search {

}

.title {

}

.footer {

}

body h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 60px;
    color: white;
    text-align: right;
}

body h2 {
    font-family: 'Crimson Text', serif;
    font-size: 60px;
    font-style: oblique;
    color: black;
    text-align: right;
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}
